<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mezcal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <!-- Empieza header -->
    <div>
        <nav class="navbar navbar-expand-lg navarsito ">
            <div class="container-fluid">
                <a class=" navbar-brand  letra_menu text-white fs-4" href="#">Mandala</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <ul class="navbar-nav mb-lg-0">
                        <li class=" d-flex nav-item">
                            <a class="nav-link text-white fs-4" [routerLink]="['/Login']">Inicio  </a>
                        </li>
                        <li class=" d-flex nav-item">
                            <a class="nav-link text-white fs-4" [routerLink]="['/productos']">Productos  </a>
                        </li>
                        <li class=" d-flex nav-item">
                            <a class="nav-link text-white fs-4" [routerLink]="['/carrito']">Carrito  </a>
                        </li>
                        <li class=" d-flex nav-item">
                            <a class="nav-link text-white fs-4" [routerLink]="['/Login']">Contacto  </a>
                        </li>
                        <li class=" d-flex nav-item">
                            <a class="nav-link text-white fs-4" [routerLink]="['/Login']">Login  </a>
                        </li>
                    </ul>

                </div>

            </div>

        </nav>
    </div>
    <div class="borde col-lg-12">
        <!--para el borde blanco-->
    </div>

    <!-- termina header -->
    <div class="row">
        <div class="descripcion col-lg-8 position-absolute end-0">
            <div class="informacion col-lg-9 position-absolute end-0 pt-5 p-4">
                <img src="../../assets/img/agave.png" class="agave">
                <img src="../../assets/img/image 5 (2).png" class="mezcal">
                <h1>MEZCAL JOVEN</h1>

                <p>El balance de dos destilaciones de distintas intensidades y perfiles de sabor-aroma. SEÑORÍO JOVEN nace de la pasión, conocimiento, trabajo y herencia de generaciones Oaxaqueñas.
                </p>
                <h1>ARMONIA PERFECTA</h1>
                <div class="bordesito"></div>
                <div class="row">
                    <div class="armonia-perfecta col-lg-6">
                        <h5>DOS DESTILACIONES</h5>
                        <P>Dos diferentes intensidades y perfiles de sabor y aroma.</P>

                    </div>
                    <div class="armonia-perfecta col-lg-6">
                        <h5>BALANCE PERFECTO</h5>
                        <P>Entre las notas suaves de humo y el sabor puro del agave.</P>
                    </div>
                </div>

                <div class="bordesito"></div>

                <div class="row">
                    <div class="tipo-agave col-lg-6  pt-3">
                        <h4><img src="../../assets/img/agavito.png"> TIPO DE AGAVE: ESPADIN</h4>
                        <h4><img src="../../assets/img/agavito.png"> CONTENIDO: 800 ML</h4>

                    </div>
                    <div class="precio col-lg-6 pt-4">
                        <h4>COSTO: $689.00 MX</h4>
                        <button type="button" class="botonsito btn btn-outline-warning">AGREGAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
