/*======================
  Google fonts
========================*/

@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
body {
    background-image: url(img/Rectangle.png)!important;
}


/*=========Navar==========*/

.navarsito {
    background-color: black;
    color: white!important;
    font-family: 'Freckle Face', cursive;
}

.borde {
    background-color: rgb(255, 255, 255)!important;
    height: 8px;
}


/*=========Fin Navar==========*/

.agave {
    position: absolute;
    left: 64.20%;
    right: 0%;
    top: 53.95%;
    bottom: 0%;
}

.mezcal {
    position: absolute;
    left: -80%;
    right: 74.07%;
    top: 5%;
    bottom: 15.53%;
    height: 510px;
    width: 280px;
}

.descripcion {
    background-image: url(img/Vector.png)!important;
    height: 89%;
    z-index: 100;
}

.informacion {
    color: white!important;
    font-family: 'Freckle Face', cursive;
}

.informacion h1 {
    text-align: center;
}

.informacion p {
    font-family: Post No Bills Colombo Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}

.bordesito {
    background-color: rgb(255, 255, 255)!important;
    height: 2px;
    z-index: 100!important;
}

.armonia-perfecta {
    z-index: 100!important;
}

.armonia-perfecta h5 {
    text-align: center;
    font-family: 'Post No Bills Colombo Medium'!important;
    color: #B09A49;
    font-weight: 500;
}

.armonia-perfecta p {
    color: white;
    text-align: center;
}

.rayita {
    background-color: rgb(255, 255, 255)!important;
    height: 100%;
    width: 2px;
}

.tipo-agave h4 {
    font-family: 'Post No Bills Colombo Medium';
    font-size: 17px;
}

.precio h4 {
    font-family: 'Post No Bills Colombo Medium';
    font-size: 17px;
    text-align: left;
}

.precio {
    font-family: 'Post No Bills Colombo Medium';
    font-size: 17px;
    text-align: center;
    z-index: 100;
}

.botonsito {
    font-family: 'Post No Bills Colombo Medium'!important;
}